$purple: #472b74;
$gray_15: rgba(0,0,0,0.15);
$gray_05: rgba(0,0,0,0.05);
$black: #333;


body {
	color: $black;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 21px;
	border-top: 4px solid $purple;
	margin: 0;
	padding-top: 30px;

}

.logo {
	text-align: center;
	margin-bottom: 50px;

	img {
		max-width: 160px;
	}
}

#ss-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	position: relative;
}

.ss-question-list {
	padding-left: 0;
}

.intro-section {
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
	padding: 0 20px 20px;	

	h1 {
		color: $purple;
	}
}

#navigation-table {
	width: 960px;
	text-align: right;
}

.ss-form-entry {
	border: 1px solid $gray_15;
	// border-top: 3px solid $purple;
	padding: 0 20px 20px;
	margin-bottom: 10px;
	// width: 960px;
	box-sizing: border-box;
	background-color: white;
}

input[type="text"] {
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
}
.q-subject {
	margin: 15px 0 5px;
	font-weight: bold;
	color: $purple;
}
.ss-q-title {
	font-size: 18px;
	margin: 5px 0;
}

.ss-q-short {
	width: 100%;
}

.ss-q-long {
	width: 100%;
	border: 1px solid $gray_15;
	font-size: 16px;
	font-family: sans-serif;
}

.ss-secondary-text {
	color: #999;
	font-style: italic;
	margin-bottom: 20px;
}

.required-message,
#progress-container,
.ss-password-warning {
	display: none;
}

.ss-choices {
	padding-left: 0;

	.ss-choice-item {
		list-style-type: none;
		margin: 5px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		text-indent: -23px;
		padding-left: 23px;

		&:last-of-type {
			display: block;
			width: 100%;

			.ss-q-other {
				width: 80%;
			}
		}
	}
}

.col-3 .ss-choice-item { width: 30%; }
.col-2 .ss-choice-item { width: 48%; }

#ss-submit {
	padding: 8px 20px;
	margin-top: 20px;
	background-color: $purple;
	border-radius: 2px;
	cursor: pointer;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid $purple;
}

// .activity {
// 	.ss-choice-item {
// 		text-indent: -23px;
// 		padding-left: 23px;
// 	}
// }























