body {
  color: #333333;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 21px;
  border-top: 4px solid #ff641e;
  margin: 0;
  padding-top: 30px; }

.form-section {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 3px solid #ff641e;
  padding: 0 20px 20px;
  margin-bottom: 10px;
  position: absolute;
  width: 960px;
  box-sizing: border-box;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden; }
  .form-section.m-active {
    z-index: 1;
    visibility: visible; }

#ss-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: relative; }

.intro-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  padding: 0 20px 20px; }

.tabs {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  .tabs .tab {
    display: inline-block;
    width: 16.63043%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    text-decoration: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    color: #333333; }
    .tabs .tab:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.15); }
    .tabs .tab:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #ff641e; }
    .tabs .tab.m-active {
      background-color: #ff641e;
      color: white; }

.ss-section-title {
  margin: 0 0 10px;
  padding: 20px 0;
  color: #ff641e; }

.ss-q-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px; }

.ss-secondary-text {
  color: #666;
  margin: 5px 0;
  font-size: 14px;
  font-style: italic; }

.ss-q-long {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: sans-serif; }

.required-message,
#progress-container,
.ss-password-warning {
  display: none; }

.pixar-pitch .ss-q-title {
  display: inline-block; }
.pixar-pitch .ss-secondary-text {
  display: none; }
.pixar-pitch .ss-q-short {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 400px;
  margin-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
  padding: 5px; }

#ss-submit {
  padding: 8px 20px;
  margin-top: 20px;
  background-color: #ff641e;
  border-radius: 2px;
  cursor: pointer;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #ff641e; }
